.footer{
  justify-content:space-around;;
  align-items:center;
  width:100%;
  background: rgba(246,246,246,0.95);
  border-top: 1px solid #BDBEC2;
}
.footer>a{
  display: flex;
  color:#8E8E93;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.14rem;
  padding-top: 0.04rem;
}

.footer .active{
  color:#FF9500;
}
